@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
    margin: 0;
    --primary: #0d1440;
    --secondary: #bf1736;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(#fdffe8, #c33764);
}

nav {
    display: flex;
    align-items: center;
    background: linear-gradient(160deg, var(--primary), var(--secondary));
    color: white;
    
    .logo {
        flex: 50%;
        padding: 0 30px;
        font-size: 20px;
    }

    ul{
        display: flex;
        margin-right: 10px;
        li {
            list-style-type: none;
            padding: 10px 20px;

            a {
                text-decoration: none;
                color: white;
            }

            a:hover {
                color: var(--primary);
            }
        }
    }
}

@media only screen and (min-width: 768px) { 
    nav {
        background: transparent;
        color: var(--primary);

        ul li a {
            color: var(--primary);
        }
        
        ul li a:hover {
            color: var(--secondary);
        }
    }
}