form.userinfo-form {
    margin: 20px;
    padding: 40px;
    background: radial-gradient(#e6e6e6, #edecff);
    border-radius: 4px;
    box-shadow: 0 1px 10px 1px rgba(87, 87, 87, 0.5);

    h1 {
        margin: 0;
    }

    hr {
        border-top: 1.5px solid #dbe0ff;
    }
    
    label {
        color: var(--primary);
    }
    
    input {
        margin: 10px 0;
        padding: 15px 2%;
        width: 40%;
        border: none;
        border-radius: 3px;
        background-color: var(--primary);
        color: white;
        outline: none;
    }

    input:focus {
        outline: none;
        background-color: #2a3263;
    }

    button:hover {
        cursor: pointer;
    }

            
    p{
        text-align: center;
        font-size: 0.8rem;
        a{
            text-decoration: none;
            color: var(--primary);
        }
        a:hover{
            color: var(--secondary);
        }
    }


    button[type=submit] {
        border: none;
        border-radius: 3px;
        padding: 15px;
        font-size: 1em;
        font-weight: 700;
        color: white;
        background-color: var(--secondary);
    }

    a {
        color: var(--secondary);
    }
}