{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/account_form.css' %}">
    <title>Profolio | {{user.username}}</title>
</head>

<body>
    <nav>
        <div class="logo">
            <h1>Profolio</h1>
        </div>
        <div class="dropdown">
            <div class="btn">
                <a href="#">{{user.username}}</a>
            </div>
            <div class="dropdown-content">
                <a href="#">Search</a>
                <a href="{% url 'index' %}">Home</a>
                <a href="../accounts/logout">Logout</a>
            </div>
        </div>
    </nav>

    <form method="POST", enctype="multipart/form-data" class="account-form">
        {% csrf_token %}
        <h1>Link Your Page</h1>
        <hr>
        <label for="portfolio-file">Upload Your File here</label>
        <input type="file" name="document">
        <button type="submit">Upload File</button> <br>
        <a href="#" style="float: right;">Goto your page-></a>
    </form>
    <script src="{% static 'scripts/drop.js' %}"></script>
</body>
</html>